.btn
{
  [class^="claw-"], [class*=" claw-"] {
    float: right;
    margin-left: 7px;
    margin-right: 0;
  }
  &.btn-xs
  {
    [class^="claw-"], [class*=" claw-"] {
      margin-left: 3px;
    }
  }
}