.container-toolbar {
  .toolbar {
    ul{
      li{
        margin-left: 0;
        margin-right: 3px;
      }
    }
  }
}


.nfscalendar-wrapper {
  .imgcalendar {
    left: 2px;
    right: auto;
  }
}


.combogrid-wrapper
{
  &:before
  {
    left: auto;
    right: 7px;
  }
  .cg-resetButton {
    right: auto;
    left: 3px;
    .ui-icon
    {
      &:before {
        content: $claw-backspace-right;
      }
    }
  }
}



.k-grid {
  .k-grid-header th.k-header .k-icon,
  .k-grid-pager .k-icon
  {

    &.k-i-arrow-e:before
    {
      content: $claw-left;
    }
    &.k-i-arrow-w:before
    {
      content: $claw-right;
    }
    &.k-i-seek-e:before
    {
      content: $claw-last-left;
    }
    &.k-i-seek-w:before
    {
      content: $claw-last-right;
    }
  }

}