.container-toolbar {
  .toolbar {
    ul{
      li{
        margin-left: 0;
        margin-right: 3px;
      }
    }
  }
}


.nfscalendar-wrapper {
  .imgcalendar {
    left: 2px;
    right: auto;
  }
}


.personcombo-wrapper
{
  .cg-resetButton {
    right: auto;
    left: 3px;
    .ui-icon
    {
      &:before {
        content: $claw-backspace-right;
      }
    }
  }
}