//
// Panels
// --------------------------------------------------






.leo-panel {

  // Add border top radius for first one

  // Add border bottom radius for last one
  > .table:last-child,
  > .table-responsive:last-child > .table:last-child {

    > tbody:last-child,
    > tfoot:last-child {
      > tr:last-child {

        td:first-child,
        th:first-child {
          border-bottom-left-radius: ($panel-border-radius);
          border-bottom-right-radius: ($panel-border-radius - 1);
        }
        td:last-child,
        th:last-child {
          border-bottom-right-radius: ($panel-border-radius);
          border-bottom-left-radius: ($panel-border-radius - 1);
        }
      }
    }
  }


  > .table-bordered,
  > .table-responsive > .table-bordered {
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th:first-child,
        > td:first-child {
          border-left: inherit;
          border-right: 0;
        }
        > th:last-child,
        > td:last-child {
          border-right: inherit;
          border-left: 0;
        }
      }
    }

  }
}