
@font-face {
  font-family: 'Goran';
  src: url('../fonts/mn/Unikurdw.eot');
  src: url("../fonts/mn/Unikurdw.eot?#iefix") format("embedded-opentype"), url("../fonts/mn/Unikurdw.woff") format("woff"), url("../fonts/mn/Unikurdw.ttf") format("truetype"), url('../fonts/mn/Unikurdw.svg#wroya') format("svg");
  font-weight: normal;
  font-style: normal;
}

$font-family-sans-serif:  Goran , Tahoma , Arial, sans-serif;
$font-family-serif:       Goran , "Times New Roman", Times, serif;
$font-family-monospace:   Goran ,Menlo, Monaco, Consolas, "Courier New", monospace !default;


$font-size-base: 14px;

@import '../../assets/stylesheets/variables';
@import '../../assets/stylesheets/_leopard';
@import '../../assets/stylesheets/_leopard-rtl';

