
@import "../../icomoon/variables";




@font-face {
  font-family: 'clawicon';
  src:url('../fonts/clawicon/clawicon.eot?auxrcf');
  src:url('../fonts/clawicon/clawicon.eot?auxrcf#iefix') format('embedded-opentype'),
  url('../fonts/clawicon/clawicon.ttf?auxrcf') format('truetype'),
  url('../fonts/clawicon/clawicon.woff?auxrcf') format('woff'),
  url('../fonts/clawicon/clawicon.svg?auxrcf#clawicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin leo-icon-setting()
{
  position: relative;
  display: inline-block;
  font-family: 'clawicon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[class^="claw-"], [class*=" claw-"] {
  @include leo-icon-setting();
  line-height: 1;
  top: 1px;
}



.btn
{
  [class^="claw-"],[class*=" claw-"] {
    float: left;
    margin-right: 7px;
    font-size: 1.3em;
  }
  &.btn-xs
  {
    [class^="claw-"],[class*=" claw-"] {
      margin-right: 3px;
      font-size: ($font-size-small * 1.2);
    }
  }
}



.claw-shift-add:before {
  content: "\e84d";
}
.claw-shift-edit:before {
  content: "\e84e";
}
.claw-shift-gear:before {
  content: "\e84f";
}
.claw-shift-preview:before {
  content: "\e850";
}
.claw-shift-remove:before {
  content: "\e851";
}
.claw-shift-save:before {
  content: "\e852";
}
.claw-shift:before {
  content: "\e853";
}
.claw-rule-add:before {
  content: "\e854";
}
.claw-rule-edit:before {
  content: "\e855";
}
.claw-rule-gear:before {
  content: "\e856";
}
.claw-rule-preview:before {
  content: "\e857";
}
.claw-rule-remove:before {
  content: "\e858";
}
.claw-rule-save:before {
  content: "\e859";
}
.claw-rule:before {
  content: "\e85a";
}
.claw-chart-add:before {
  content: "\e85b";
}
.claw-chart-edit:before {
  content: "\e85c";
}
.claw-chart-gear:before {
  content: "\e85d";
}
.claw-chart-preview:before {
  content: "\e85e";
}
.claw-chart-remove:before {
  content: "\e85f";
}
.claw-chart-save:before {
  content: "\e860";
}
.claw-chart:before {
  content: "\e861";
}
.claw-edit:before {
  content: "\e862";
}
.claw-fav:before {
  content: "\e84c";
}
.claw-dashboard:before {
  content: "\e84b";
}
.claw-deactive:before {
  content: "\e800";
}
.claw-minus:before {
  content: "\e802";
}
.claw-gear:before {
  content: "\e818";
}
.claw-user-sq:before {
  content: "\e81f";
}
.claw-grid-filter-sq:before {
  content: "\e81a";
}
.claw-calendar-sq:before {
  content: "\e819";
}
.claw-close-inverse:before {
  content: "\e80f";
}
.claw-close:before {
  content: "\e817";
}
.claw-cancel:before {
  content: "\e803";
}
.claw-delete:before {
  content: "\e826";
}
.claw-flow:before {
  content: "\e827";
}
.claw-tick:before {
  content: "\e828";
}
.claw-support:before {
  content: "\e825";
}
.claw-help-inverse:before {
  content: "\e820";
}
.claw-help:before {
  content: "\e821";
}
.claw-info-inverse:before {
  content: "\e822";
}
.claw-info:before {
  content: "\e823";
}
.claw-logout:before {
  content: "\e824";
}
.claw-backspace-left:before {
  content: "\e81d";
}
.claw-backspace-right:before {
  content: "\e81e";
}
.claw-last-left:before {
  content: "\e81b";
}
.claw-last-right:before {
  content: "\e81c";
}
.claw-reload:before {
  content: "\e80a";
}
.claw-down:before {
  content: "\e80b";
}
.claw-left:before {
  content: "\e80c";
}
.claw-right:before {
  content: "\e80d";
}
.claw-up:before {
  content: "\e80e";
}
.claw-active:before {
  content: "\e804";
}
.claw-flow-add:before {
  content: "\e806";
}
.claw-flow-edit:before {
  content: "\e807";
}
.claw-flow-gear:before {
  content: "\e810";
}
.claw-flow-remove:before {
  content: "\e811";
}
.claw-flow-review:before {
  content: "\e812";
}
.claw-flow-save:before {
  content: "\e813";
}
.claw-flow2:before {
  content: "\e814";
}
.claw-access-add:before {
  content: "\e815";
}
.claw-access-edit:before {
  content: "\e829";
}
.claw-access-gear:before {
  content: "\e82a";
}
.claw-access-remove:before {
  content: "\e82b";
}
.claw-access-review:before {
  content: "\e82c";
}
.claw-access-save:before {
  content: "\e82d";
}
.claw-access:before {
  content: "\e82e";
}
.claw-attendance-add:before {
  content: "\e82f";
}
.claw-attendance-edit:before {
  content: "\e830";
}
.claw-attendance-gear:before {
  content: "\e831";
}
.claw-attendance-preview:before {
  content: "\e832";
}
.claw-attendance-remove:before {
  content: "\e833";
}
.claw-attendance-save:before {
  content: "\e834";
}
.claw-attendance:before {
  content: "\e835";
}
.claw-period-add:before {
  content: "\e836";
}
.claw-period-edit:before {
  content: "\e837";
}
.claw-period-gear:before {
  content: "\e838";
}
.claw-period-preview:before {
  content: "\e839";
}
.claw-period-remove:before {
  content: "\e83a";
}
.claw-period-save:before {
  content: "\e83b";
}
.claw-period:before {
  content: "\e83c";
}
.claw-group-add:before {
  content: "\e83d";
}
.claw-group-edit:before {
  content: "\e83e";
}
.claw-group-gear:before {
  content: "\e83f";
}
.claw-group-preview:before {
  content: "\e840";
}
.claw-group-remove:before {
  content: "\e841";
}
.claw-group-save:before {
  content: "\e842";
}
.claw-group:before {
  content: "\e843";
}
.claw-user-add:before {
  content: "\e844";
}
.claw-user-edit:before {
  content: "\e845";
}
.claw-user-gear:before {
  content: "\e846";
}
.claw-user-preview:before {
  content: "\e847";
}
.claw-user-remove:before {
  content: "\e848";
}
.claw-user-save-add:before {
  content: "\e849";
}
.claw-user-save:before {
  content: "\e84a";
}
.claw-user:before {
  content: "\e816";
}
.claw-plus:before {
  content: "\e809";
}
.claw-preview:before {
  content: "\e808";
}
.claw-search:before {
  content: "\e805";
}
.claw-menu:before {
  content: "\e801";
}
