.container-toolbar {
  border: 1px solid $toolbar_border_color;
  background-color: $toolbar_background_color;
  margin-top:3px;
  margin-bottom: 4px;
  padding: 5px;

  .toolbar {
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        display: inline;
        padding: 0;
        margin: 0;
        margin-left: 3px;
      }
    }

  }
}

.container-searchbar {
  border: 1px solid $toolbar_border_color;
  background-color: $toolbar_background_color;
  margin-top: 5px;
  margin-bottom: 3px;
}


.nfscalendar-wrapper {
  position: relative;
  .NfsCalendar {
    position: relative;
  }
  .imgcalendar {
    position: absolute;
    right: 2px;
    top: 2px;
  }
  .icon-calendar {
    width: 31px;
    height: 30px;
    border: 1px solid $input-border;
    color: lighten($brand-primary,10%);
    border-radius: 3px;
    background-color: #ffffff;
    background-image: none;
    @include leo-icon-setting();
    position: absolute;
    line-height: 1;
    &:hover
    {
      color: $brand-primary;
      border-color: $input-border-focus;
    }

    &:before {
      content: $claw-calendar-sq;
      font-size: 22px;
      margin: 3px 4px;
      display: block;
      width: auto;
    }
  }
}




.calendars-popup {

  .calendars {
    font-family: inherit;
    border: 2px solid #ffffff;
    border-radius: 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);

  }
  .calendars a{
    color:#ffffff;
    @include transition(color .2s ease-in-out);


  }
  .calendars-month a
  {
    color: #000;
    &.calendars-cmd-prev, &.calendars-cmd-next
    {
      font-size: 14px;
      padding: 0 9px;
      font-family: verdana;
      color: #fff;
    }
  }

  .calendars a:hover
  {
    color:darken($grid-header-bg,50%);
  }



  .calendars-nav, .calendars-ctrl {
    background-color: $grid-header-bg;
    background-image: none;

  }

  .calendars-month-header, .calendars-month-header select, .calendars-month-header input {
    background-color: $grid-header-bg;
  }

  .calendars-month-header select, .calendars-month-header input
  {
    border: 1px solid darken($grid-header-bg,10%);
    color: #ffffff;
    padding: 0 5px;
  }
  .calendars-month td .calendars-highlight
  {
    @include transition(all .2s ease-in-out);
  }

}




.leo-wrapper {
  box-shadow: 0 0px 3px rgba(0,0,0,0.3);
  padding: 10px;
  padding-bottom: 2px;

}


.menu-config {
  background-color: #d6d6d6;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  .btn
  {
    text-decoration: none;
    font-family: inherit;
    font-size: 0.9em;
    color: #8b8b8b;
    font-weight: bold;
    margin-right: 20px;
  }
  .title
  {
    color: #8b8b8b;
    font-weight: bold;
  }
}


.k-grid {
  &.k-widget
  {
    border: 1px solid $grid-header-bg;
  }
  .k-grid-header {
    border-bottom-color: darken($grid-header-bg,20%);
    .k-header {
      background-color: $grid-header-bg;
      background-image: none;
      border-color: darken($grid-header-bg,10%);
      padding: 0;

    }
  }


  .k-grid-pager
  {
    background-color: $grid-footer-bg;
    background-image: none;
    border-top: none;
    font-size: 0.75em;
    .k-textbox
    {
      font-size: 1em;
    }
    .k-link
    {
      border-radius: 4px;
      background: lighten($grid-footer-bg,6%);
      margin: 0 1px;
      font-size: 1.2em;
      min-width: 1.6em;
      line-height: 23px;
      border: 1px solid darken($grid-footer-bg,5%);
      height: auto;
      &:hover
      {
        background: darken($grid-footer-bg,10%);
        border: 1px solid darken($grid-footer-bg,15%);
      }
    }
    .k-pager-numbers .k-state-selected
    {
      background: $grid-header-bg;
      color:#fff;
      border-radius: 4px;
      font-size: 1.2em;
      min-width: 1.6em;
      line-height: 23px;
      border: none;

    }
    &.k-pager-wrap .k-icon
    {
      overflow: hidden;
      text-indent: 70px;
      color: #444444;
      position: relative;
      white-space: nowrap;
      height: 18px;
      &:before
      {
        position: absolute;
        left: 0;
        top: 2px;
        white-space: nowrap;
      }
    }
  }



  .k-grid-header th.k-header .k-icon,
  .k-grid-pager .k-icon
  {
    @include leo-icon-setting();
    line-height: 1;
    top: 1px;
    background-image: none;
    background-color: transparent;
    font-size: 16px;
    color:#fff;
    &.k-filter:before {
        content: $claw-grid-filter-sq;
      }
    &.k-i-arrow-n:before {
      content: $claw-up;
      font-size: 11px;
    }
    &.k-i-arrow-s:before {
      content: $claw-down;
      font-size: 11px;
    }
    &.k-i-arrow-e:before
    {
      content: $claw-right;
    }
    &.k-i-arrow-w:before
    {
      content: $claw-left;
    }
    &.k-i-seek-e:before
    {
      content: $claw-last-right;
    }
    &.k-i-seek-w:before
    {
      content: $claw-last-left;
    }
    &.k-i-refresh:before
    {
      content: $claw-reload;
    }
  }




  .k-grid-header-wrap, .k-grid-footer-wrap
  {
    border: none;
  }
}


.personcombo-wrapper
{
  position: relative;

  .ui-autocomplete-input
  {
    text-indent: 30px;
    &.cg-loading {
      background-position: 29px 10px;
    }
  }
  &:before
  {
    @include leo-icon-setting();
    position: absolute;
    line-height: 1;
    top: 8px;
    background: none;
    text-indent: 0;
    color: lighten($brand-primary,30%);
    font-size: 22px;
    left: 7px;
    content: $claw-user-sq;
  }
  &:focus:before
  {
    color: lighten($brand-primary,10%);
  }

  .cg-resetButton
  {
    position: absolute;
    right: 3px;
    top: 11px;
    border: none;
    background: transparent;
    padding: 0;
    display: block;
    height: 19px;
    width: 19px;

    .ui-icon
    {

      @include leo-icon-setting();
      line-height: 1;
      top: -1px;
      background: none;
      font-size: 16px;
      text-indent: 0;
      color: #78acd9;
      right: 0px;

      &:before {
        content: $claw-backspace-left;
      }
    }
  }
}


.cg-autocomplete.cg-menu
{
  background: #ffffff;
}

.maindiv
{
  background: $leopard_primary-color !important;
  #tabs {
    margin-right: 20px;
    margin-left: 20px;
    width: auto;
  }
}

.ui-tabs
{
  .ui-tabs-panel
  {
    box-shadow: 0 0 4px rgba(0,0,0,0.6);
  }
    .iconM-caret-right-bold,
    .iconM-caret-left-bold,
    .iconM-caret-bold
    {
      @include leo-icon-setting();
      line-height: 1;
      top: 3px;
      color: #fff;
      background: transparent;
      &:before {
        content: $claw-right;
      }
    }
  .iconM-caret-right-bold:before {
    content: $claw-right;
  }
  .iconM-caret-left-bold:before {
    content: $claw-left;
  }
  .iconM-caret-bold:before {
    content: $claw-down;
  }



  .ui-tabs-nav
  {


    li.ui-state-default.ui-corner-top
    {
      border-radius: 2px 2px 0 0 !important;
      background: $leopard_secondary-color;
      border-color: #54bdab !important;
      a{
        color: #ffffff;
        font-size: 1.3em;
        padding: 4px 13px;
        }
      .iconM-close-red-tab
      {
        @include leo-icon-setting();
        line-height: 1;
        top: 3px;
        background: none;
        font-size: 16px;
        text-indent: 0;
        color: rgba(255, 255, 255, 0.3);
        right: 4px;
        margin: 0 0px 0 5px;
        &:hover
        {
          color: rgba(255, 255, 255, 0.8);
        }
        &:before {
          content: $claw-close-inverse;
        }
      }
      &.ui-tabs-active
      {
        a
        {
          color: #444444;
        }
        .iconM-close-red-tab
        {
          color: $brand-warning;
        }
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
        border: none !important;
      }
    }

  }
  .ui-tabs-special-area
  {
    top: 0;
    .ui-tabs-special-tab {
      z-index: 100;
      position: relative;
      height: 34px;
      overflow: hidden;
      box-shadow: none;
      border: none !important;
      background: transparent !important;
      a
      {
        height: 30px;
        width: 30px;
        display: block;
        text-align: center;
        box-shadow: none;
        margin-right: 4px;
        margin-top: 4px;
        background: $leopard_secondary-color;
        border-radius: 2px 2px 0 0;
        border-color: #54bdab;
        .iconM-plus-main
        {
          @include leo-icon-setting();
          line-height: 1;
          top: -1px;
          background: none;
          font-size: 18px;
          text-indent: 0;
          color: #ffffff;
          right: 0px;
          margin: 0 5px;

          &:before {
            content: $claw-gear;
          }
        }
      }
      &.ui-state-active
      {
        a
        {
          box-shadow: 0 0 4px #000;
          background: #fff;
          .iconM-plus-main {
            color: $brand-warning;
          }
        }
      }
    }
  }


}

