.container-toolbar {
  border: 1px solid $toolbar_border_color;
  background-color: $toolbar_background_color;
  margin-top:3px;
  margin-bottom: 4px;
  padding: 5px;

  .toolbar {
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        display: inline;
        padding: 0;
        margin: 0;
        margin-left: 3px;
      }
    }

  }
}

.container-searchbar {
  border: 1px solid $toolbar_border_color;
  background-color: $toolbar_background_color;
  margin-top: 5px;
  margin-bottom: 3px;
}


.nfscalendar-wrapper {
  position: relative;
  .NfsCalendar {
    position: relative;
  }
  .imgcalendar {
    position: absolute;
    left: 2px;
    top: 2px;
  }
  .icon-calendar {
    width: 33px;
    height: 32px;
    border: 1px solid $input-border;
    color: lighten($brand-primary,10%);
    border-radius: 3px;
    background-color: #ffffff;
    background-image: none;
    display: inline-block;
    font-family: 'clawicon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:hover
    {
      color: $brand-primary;
      border-color: $input-border-focus;
    }

    &:before {
      content: $claw-calendar-sq;
      font-size: 22px;
      margin: 3px 4px;
      display: block;
      width: auto;
    }
  }
}




.calendars-popup {

  .calendars {
    font-family: inherit;
    border: 2px solid #ffffff;
    border-radius: 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);

  }
  .calendars a{
    color:#ffffff;
    @include transition(color .2s ease-in-out);


  }
  .calendars-month a
  {
    color: #000;
    &.calendars-cmd-prev, &.calendars-cmd-next
    {
      font-size: 14px;
      padding: 0 9px;
      font-family: verdana;
      color: #fff;
    }
  }

  .calendars a:hover
  {
   color:darken($grid-header-bg,50%);
  }



  .calendars-nav, .calendars-ctrl {
    background-color: $grid-header-bg;
    background-image: none;

  }

  .calendars-month-header, .calendars-month-header select, .calendars-month-header input {
    background-color: $grid-header-bg;
  }

  .calendars-month-header select, .calendars-month-header input
  {
    border: 1px solid darken($grid-header-bg,10%);
    color: #ffffff;
    padding: 0 5px;
  }
  .calendars-month td .calendars-highlight
  {
    @include transition(all .2s ease-in-out);
  }

}




.leo-wrapper {
  box-shadow: 0 0px 3px rgba(0,0,0,0.3);
  padding: 10px;
  padding-bottom: 2px;

}


.menu-config {
  background-color: #d6d6d6;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  .btn
  {
    text-decoration: none;
    font-family: inherit;
    font-size: 0.9em;
    color: #8b8b8b;
    font-weight: bold;
    margin-right: 20px;
  }
  .title
  {
    color: #8b8b8b;
    font-weight: bold;
  }
}