//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------


@import "../leopard/mixins";


.leo-clearfix {
  @include clearfix;
}
.leo-center-block {
  @include center-block;
}
.leo-pull-right {
  float: right !important;
}
.leo-pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.leo-hide {
  display: none !important;
}
.leo-show {
  display: block !important;
}
.lwo-invisible {
  visibility: hidden;
}
.lwo-text-hide {
  @include text-hide;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.leo-hidden {
  display: none !important;
}


// For Affix plugin
// -------------------------

.leo-affix {
  position: fixed;
}

.leo-set
{
  .leo-set-row {
    position: relative;
    margin-bottom: 5px;
    box-sizing: border-box;
    .leo-set-info {
      color: #ffffff;
      border-radius: 5px;
      padding: 4px;
      background: #B2B4B4;
      margin-left: 30px;
      line-height: 23px;
      height: 31px;
      overflow: hidden;
      &:after
      {
        clear: both;
        display: block;
        content: '';
      }
      .leo-set-actions .leo-set-action-btn
      {
        opacity: 0.7;
        font-size: 16px;
        line-height: 23px;
        padding: 0px 2px;
        cursor: pointer;
        &:hover
        {
          opacity: 1;
        }
      }
    }
    .leo-set-icon {
      position: absolute;
      top: 4px;
      line-height: 25px;
      font-size: 1.3em;
      color: #B2B4B4;
    }

    &.leo-set-blue {
      .leo-set-info {
        background: #52a4ca;
      }
      .leo-set-icon {
        color: #52a4ca;
      }

    }
    &.leo-set-green {
      .leo-set-info {
        background: #35ae90;
      }
      .leo-set-icon {
        color: #35ae90;
      }

    }
    &.leo-set-red {
      .leo-set-info {
        background: #e97a7a;
      }
      .leo-set-icon {
        color: #e97a7a;
      }
    }
    &.leo-set-disable {
      .leo-set-info {
        background: #c4d1d7;
      }
      .leo-set-icon {
        color: #c4d1d7;
      }

    }

    &.leo-set-bordered
    {
      .leo-set-info {
        border: 2px solid #B2B4B4;
        background: transparent;
        color: #333333;
        .leo-set-actions .leo-set-action-btn
        {
          line-height: 17px;
        }
      }
      &.leo-set-blue {
        .leo-set-info {
          border-color: #52a4ca;
        }

      }
      &.leo-set-green {
        .leo-set-info {
          border-color: #35ae90;
        }

      }
      &.leo-set-red {
        .leo-set-info {
          border-color: #e97a7a;
        }
      }
      &.leo-set-disable {
        .leo-set-info {
          border-color: #c4d1d7;
        }

      }
    }
    &.leo-set-row-selected
    {
      .leo-set-info.leo-set-info {
        background: #1c59be;
        border-color: #1c59be;
        color: #ffffff;
      }

    }
  }
}

.ul-permanet-filter-list {
  .permanet-filter-item {
    width: inherit;
    list-style: none;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    margin-right: 3px;

    .editingclassoff {
      display: none;
    }
    .permanent-filter-edit,
    .permanent-filter-delete
    {
      padding: 0;
      margin-top: 2px;
      display: inline;
      background: transparent;
      border: none;
      font-size: 11px;
      color: rgba(255,255,255,0.6);
      cursor: pointer;
      &:hover
      {
        color: #fff;
      }
    }
    .permanent-filter-title
    {
      color: rgba(240,240,240,0.8);
      &:hover
      {
        text-decoration: none;
        color: #fff;
      }
    }

  }
}

