@font-face {
	font-family: 'clawicon';
	src:url('fonts/clawicon.eot?mahigv');
	src:url('fonts/clawicon.eot?mahigv#iefix') format('embedded-opentype'),
		url('fonts/clawicon.ttf?mahigv') format('truetype'),
		url('fonts/clawicon.woff?mahigv') format('woff'),
		url('fonts/clawicon.svg?mahigv#clawicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="claw-"], [class*=" claw-"] {
	font-family: 'clawicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.claw-gear:before {
	content: "\e818";
}
.claw-user-sq:before {
	content: "\e81f";
}
.claw-grid-filter-sq:before {
	content: "\e81a";
}
.claw-calendar-sq:before {
	content: "\e819";
}
.claw-close-inverse:before {
	content: "\e80f";
}
.claw-close:before {
	content: "\e817";
}
.claw-support:before {
	content: "\e825";
}
.claw-help-inverse:before {
	content: "\e820";
}
.claw-help:before {
	content: "\e821";
}
.claw-info-inverse:before {
	content: "\e822";
}
.claw-info:before {
	content: "\e823";
}
.claw-logout:before {
	content: "\e824";
}
.claw-backspace-left:before {
	content: "\e81d";
}
.claw-backspace-right:before {
	content: "\e81e";
}
.claw-last-left:before {
	content: "\e81b";
}
.claw-last-right:before {
	content: "\e81c";
}
.claw-reload:before {
	content: "\e80a";
}
.claw-down:before {
	content: "\e80b";
}
.claw-left:before {
	content: "\e80c";
}
.claw-right:before {
	content: "\e80d";
}
.claw-up:before {
	content: "\e80e";
}
.claw-user-add:before {
	content: "\e810";
}
.claw-user-edit:before {
	content: "\e811";
}
.claw-user-gear:before {
	content: "\e812";
}
.claw-user-preview:before {
	content: "\e813";
}
.claw-user-remove:before {
	content: "\e814";
}
.claw-user-template:before {
	content: "\e815";
}
.claw-user:before {
	content: "\e816";
}
.claw-plus:before {
	content: "\e809";
}
.claw-preview:before {
	content: "\e808";
}
.claw-group-preview:before {
	content: "\e807";
}
.claw-group-gear:before {
	content: "\e806";
}
.claw-group-add:before {
	content: "\e802";
}
.claw-group-remove:before {
	content: "\e803";
}
.claw-search:before {
	content: "\e805";
}
.claw-menu:before {
	content: "\e801";
}
.claw-group-edit:before {
	content: "\e804";
}
.claw-group:before {
	content: "\e800";
}

