$claw-close-inverse: "\e80f";
$claw-close: "\e817";
$claw-reload: "\e80a";
$claw-down: "\e80b";
$claw-left: "\e80c";
$claw-right: "\e80d";
$claw-up: "\e80e";
$claw-user-add: "\e810";
$claw-user-edit: "\e811";
$claw-user-gear: "\e812";
$claw-user-preview: "\e813";
$claw-user-remove: "\e814";
$claw-user-template: "\e815";
$claw-user: "\e816";
$claw-plus: "\e809";
$claw-preview: "\e808";
$claw-group-preview: "\e807";
$claw-group-gear: "\e806";
$claw-group-add: "\e802";
$claw-group-remove: "\e803";
$claw-search: "\e805";
$claw-menu: "\e801";
$claw-group-edit: "\e804";
$claw-group: "\e800";
