$claw-migration-add: "\e90c";
$claw-migration: "\e90d";
$claw-translate-add: "\e90e";
$claw-translate-edit: "\e90f";
$claw-translate-remove: "\e910";
$claw-translate-save: "\e911";
$claw-translate: "\e912";
$claw-request-add: "\e900";
$claw-request-edit: "\e901";
$claw-request-gear: "\e902";
$claw-request-preview: "\e903";
$claw-request-remove: "\e904";
$claw-request-report: "\e905";
$claw-request-save: "\e906";
$claw-request: "\e907";
$claw-system-setting: "\e908";
$claw-attendance-report: "\e909";
$claw-salary-report: "\e90a";
$claw-salary: "\e90b";
$claw-shift-add: "\e84d";
$claw-shift-edit: "\e84e";
$claw-shift-gear: "\e84f";
$claw-shift-preview: "\e850";
$claw-shift-remove: "\e851";
$claw-shift-save: "\e852";
$claw-shift: "\e853";
$claw-rule-add: "\e854";
$claw-rule-edit: "\e855";
$claw-rule-gear: "\e856";
$claw-rule-preview: "\e857";
$claw-rule-remove: "\e858";
$claw-rule-save: "\e859";
$claw-rule: "\e85a";
$claw-chart-add: "\e85b";
$claw-chart-edit: "\e85c";
$claw-chart-gear: "\e85d";
$claw-chart-preview: "\e85e";
$claw-chart-remove: "\e85f";
$claw-chart-save: "\e860";
$claw-chart: "\e861";
$claw-edit: "\e862";
$claw-fav: "\e84c";
$claw-dashboard: "\e84b";
$claw-deactive: "\e800";
$claw-minus: "\e802";
$claw-gear: "\e818";
$claw-user-sq: "\e81f";
$claw-grid-filter-sq: "\e81a";
$claw-calendar-sq: "\e819";
$claw-close-inverse: "\e80f";
$claw-close: "\e817";
$claw-cancel: "\e803";
$claw-delete: "\e826";
$claw-flow: "\e827";
$claw-tick: "\e828";
$claw-support: "\e825";
$claw-help-inverse: "\e820";
$claw-help: "\e821";
$claw-info-inverse: "\e822";
$claw-info: "\e823";
$claw-logout: "\e824";
$claw-backspace-left: "\e81d";
$claw-backspace-right: "\e81e";
$claw-last-left: "\e81b";
$claw-last-right: "\e81c";
$claw-reload: "\e80a";
$claw-down: "\e80b";
$claw-left: "\e80c";
$claw-right: "\e80d";
$claw-up: "\e80e";
$claw-active: "\e804";
$claw-flow-add: "\e806";
$claw-flow-edit: "\e807";
$claw-flow-gear: "\e810";
$claw-flow-remove: "\e811";
$claw-flow-review: "\e812";
$claw-flow-save: "\e813";
$claw-flow2: "\e814";
$claw-access-add: "\e815";
$claw-access-edit: "\e829";
$claw-access-gear: "\e82a";
$claw-access-remove: "\e82b";
$claw-access-review: "\e82c";
$claw-access-save: "\e82d";
$claw-access: "\e82e";
$claw-attendance-add: "\e82f";
$claw-attendance-edit: "\e830";
$claw-attendance-gear: "\e831";
$claw-attendance-preview: "\e832";
$claw-attendance-remove: "\e833";
$claw-attendance-save: "\e834";
$claw-attendance: "\e835";
$claw-period-add: "\e836";
$claw-period-edit: "\e837";
$claw-period-gear: "\e838";
$claw-period-preview: "\e839";
$claw-period-remove: "\e83a";
$claw-period-save: "\e83b";
$claw-period: "\e83c";
$claw-group-add: "\e83d";
$claw-group-edit: "\e83e";
$claw-group-gear: "\e83f";
$claw-group-preview: "\e840";
$claw-group-remove: "\e841";
$claw-group-save: "\e842";
$claw-group: "\e843";
$claw-user-add: "\e844";
$claw-user-edit: "\e845";
$claw-user-gear: "\e846";
$claw-user-preview: "\e847";
$claw-user-remove: "\e848";
$claw-user-save-add: "\e849";
$claw-user-save: "\e84a";
$claw-user: "\e816";
$claw-plus: "\e809";
$claw-preview: "\e808";
$claw-search: "\e805";
$claw-menu: "\e801";
